.return-search-button {
    height: 35px;
}

.search-text {
    height: 35px;
}

.search-results {
    overflow-y: auto;
    flex: 1;
    max-height: calc(100% - 70px); 
}

.search-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}