
.layout-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

.layout-sidebar {
  min-width: 250px;
  max-width: calc(100% / 3);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: width 0.3s ease-in-out;
}

.layout-sidebar-header {
  height: 100%;
  align-items: center;
  display: flex;
}

.layout-sidebar.collapsed {
  min-width: 40px;
  padding: 10px 5px;
  overflow: hidden;
}

.layout-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.layout-right {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.layout-main {
  flex-grow: 1;
  min-width: 250;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 18px;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.toggle-button:hover {
  transform: scale(1.2);
}
